*{
  box-sizing: border-box;
}
body{
  margin: 0;
  background: darksalmon;
}
h2{
  background: darksalmon;
  padding: 20px;
  color:antiquewhite ;
}
.App{
  padding: 40px;
  background: antiquewhite;
  width: 80%;
  margin: 60px auto;
  box-shadow: 2px 3px 6px #eee;
}
input{
  width: 80%;
  background: #e8e8e8;
  padding: 8px 12px;
  border: 2px;
}
button{
  width: 20%;
  border: 2px;
  padding: 6px 0;
  margin: 0;
  outline: 0;
  font-weight: bold;
  cursor: pointer;
  background: darksalmon;
  color: #fff;
}
ul{
  list-style:decimal;
  padding: 0;
}
li{
  margin: 15px 0;
}
li span{
  display: inline-block;
  width: 60%;
  color: darksalmon;
  font-size: 20px;
}
li > button:first-of-type{
  background: darksalmon;
  color: #fff;
  margin-right: 1%;
  width: 19%;
}
li > button:last-of-type{
  background: darksalmon;
  color: #fff;

}
ul > form{
  margin: 15px 0;
  
}